<div id="queryPanel">
	<form id="queryForm" method="GET">
		<input id="queryField" maxlength="25" placeholder="Branch name" autofocus type="search" name="branch" value="<%= @branch_name %>"/>
		<input id="querySubmit" type="submit" value="Status"/>
	</form>
</div>

<h1 id="status"><%= @status %></h1>

<div id="timelinePanel">
	<a href="#" id="timelineLink">Timeline</a>
</div>
