<div id="queryPanel">
	<form id="queryForm" method="GET">
		<input id="queryField" maxlength="25" placeholder="Branch name" autofocus type="search" name="branch" value="<%= @branch_name %>"/>
		<input id="querySubmit" type="submit" value="Status"/>
	</form>
</div>

<% if @status %>

<h1 id="status"><%= @status %></h1>

<div id="timelinePanel">
	<img src="/images/spinner.gif"/>
</div>

<script type="text/javascript" src="/js/jquery-1.6.2.min.js"></script>
<script type="text/javascript">

jQuery(function loadTimelint() {
	$("#timelinePanel").load("/timeline/<%= @branch_name %>");
	});

<% end %>
</script>
