<div id="queryPanel">
	<form id="queryForm" method="GET">
		<input id="queryField" maxlength="25" placeholder="Branch name" autofocus type="search" name="branch" value="<%= @branch %>"/>
		<input id="querySubmit" type="submit" value="Status"/>
	</form>
</div>

<% if @statuses %>
	<% @statuses.each do |name, status| %>
		<% @title = name %>
		<% @image = status[:image] %>
		<% @status = status[:status] %>
		<%= erb :widget, %>
	<% end %>
<% end %>
