<div class="statusPanel">
	<div class="statusTitle">
		<img src="<%= @image %>" />
		<%= @title %>
	</div>
	<div class="statusDescription">
		<ul>
		<% @status.each do |name, value| %>
			<li><strong><%= name %>:</strong> <%= value %></li>	
		<% end %>
		</ul>
	</div>
</div>
