#contentPanel { padding: 20px;}
#title { text-align: center; color: #555; margin-bottom: 5px;}
#queryPanel, #queryForm { margin: 0 auto; width: 450px; margin-bottom: 30px; }
#queryField { width: 100%; height: 30px; font-size: 100%; }
#querySubmit { display: none; }

#status, #issuePanel, #timelinePanel, #timeline { margin: 0 auto; text-align: center; width: 700px; }

#timelinePanel, #issuePanel { margin-top: 20px; }
#issue { text-align: left; border: 1px solid #eee; padding: 10px; margin: 0;}
#issue p { margin: 7px; }
#issue .issueFieldName { font-weight: bold; }
#issue .issueFieldValue {}

#timeline { border-spacing: 0; border-collapse: collapse; margin-top: 10px; }
#timeline td { border: 1px solid #eee; vertical-align: middle; }
#timeline td img { width: 24px; height: 24px; vertical-align: middle; }
.authorCell, .dateCell { text-align: center; }
.actionCell { text-align: left; }
