#contentPanel { padding: 20px;}
#title { text-align: center; color: #555; margin-bottom: 5px;}
#queryPanel, #queryForm { margin: 0 auto; width: 450px; margin-bottom: 30px; }
#queryField { width: 100%; height: 30px; font-size: 100%; }
#querySubmit { display: none; }

#status, #timelinePanel, #timeline { margin: 0 auto; text-align: center; width: 700px; }

#timelineSpinner { background: url("images/spinner_large.gif") no-repeat center; height: 66px; width: 100%; opacity: 0.7; }
#timelinePanel { margin-top: 20px; }

#timeline { border-spacing: 0; border-collapse: collapse; margin-top: 10px; }
#timeline td { border: 1px solid #eee; vertical-align: middle; }
#timeline td img { width: 24px; height: 24px; vertical-align: middle; }
.authorCell, .dateCell { text-align: center; }
.actionCell { text-align: left; }
