git:
 remote: git://github.com/zolotov/branch-status-web.git
 path: /tmp/repo

jira:
 url: http://jira.dev
 user: login
 password: password

production:
 current_url: http://production.dev/revision
 log_url: http://production.dev/revision
